{%extends "base.html"%}
{%block title%}Home{%endblock title%}
{%block context%}

<h1>My First Heading</h1>
<p>My first paragraph.</p>
  <img src="https://testweb.idanlevi74.repl.co/static/managephoto.jpg" class="img-fluid"></img>
<h3 class="text-center">About The Company</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non enim dignissim, placerat arcu nec, efficitur eros. Maecenas eu elit sit amet turpis rutrum blandit non ullamcorper diam. Praesent blandit placerat mattis. Cras lorem nulla, laoreet et lacus quis, sodales ornare massa. Donec scelerisque ultrices interdum. Donec nisl eros, elementum at orci eget, vehicula lacinia augue. Morbi id nisi at libero auctor molestie. Maecenas auctor metus id massa congue sodales. Etiam orci est, molestie in lectus ac, interdum rhoncus eros. Fusce lacus odio, maximus ut eros vitae, commodo cursus tortor. Mauris lobortis, ipsum at varius consectetur, ligula velit sollicitudin elit, ac varius mauris metus vel velit.</p>



{%endblock context%}