{%extends "base.html"%}
{%block title%}Home{%endblock title%}
{%block context%}
<form action="action_page.php">
  <div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" name="email" id="email" required class="form-control">
    <label for="psw"><b>Password</b></label>
    <input type="password" class="form-control" name="psw" id="psw" required>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" class="form-control" name="psw-repeat" id="psw-repeat" required>
    <hr>

    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
  </div>

  <div class="container signin">
    <p>Already have an account? <a href="/login">Sign in</a>.</p>
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Sign up</button>
  </div>
</form>

{%endblock context%}